In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

X = pd.read_csv('data/X_train_6ZIKlTY.csv')
y = pd.read_csv('data/y_train_lXj6X5y.csv')
X_chall=pd.read_csv('data/X_test_oiZ2ukx.csv')

In [3]:
X.head()

,Index,patient_id,cohort,sexM,gene,age_at_diagnosis,age,ledd,time_since_intake_on,time_since_intake_off,on,off
0,0,IPLP5212,A,0,LRRK2+,48.5,52.1,607.0,1.9,NaN,7.0,NaN
1,1,IPLP5212,A,0,LRRK2+,48.5,53.0,666.0,1.9,17.6,12.0,44.0
2,2,IPLP5212,A,0,LRRK2+,48.5,53.9,717.0,1.2,NaN,6.0,NaN
3,3,IPLP5212,A,0,LRRK2+,48.5,54.8,770.0,1.5,NaN,11.0,NaN
4,4,IPLP5212,A,0,LRRK2+,48.5,56.9,885.0,0.3,NaN,24.0,NaN

In [24]:
v=X_chall[X_chall['off'].isna()]
v=v[v['on'].isna()]
v.head()

Empty DataFrame
Columns: [Index, patient_id, cohort, sexM, gene, age_at_diagnosis, age, ledd, time_since_intake_on, time_since_intake_off, on, off, time_since_diagnosis]
Index: []

In [50]:
from preprocess4 import PreprocessData

In [51]:
x_2=PreprocessData('data/X_train_6ZIKlTY.csv','data/X_train_6ZIKlTY.csv')

coucou
coucou 2
Coucou 3

In [52]:
x_2.get_X().isna().mean()

Index                    0.000000
cohort                   0.000000
sexM                     0.000000
age_at_diagnosis         0.050897
age                      0.000000
ledd                     0.370358
time_since_intake_on     0.466522
time_since_intake_off    0.788231
on                       0.299606
off                      0.420966
est_LRRK2+               0.000000
est_GBA+                 0.000000
est_OTHER+               0.000000
dtype: float64

In [ ]:
x_2.groupby()